/* * {
  border: 3px solid red;
} */
.content ul {
      height: auto;
    /* border-top: 1px solid gray; */
    /* position: relative; */
    padding: 20px 20px 0 20px;
    width: 100%;
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05); */
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 35px;
}
.content img {
      width: 80%;
      border-radius: 10px;
      height: auto;
      margin-bottom: 20px;
      object-fit: cover;
      /* object-position: center; */
    }
    .content ul:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  }
.content {
  margin-top: 100px;
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* position: relative; */
  justify-content: space-between;
  /* flex-direction: column; */
  /* align-items: center; */
  /* align-items: flex-start; */
  /* border: 3px solid red; */
 
  
}
.views div {
    padding-right: 20px;
  }
  .views h4 {
    font-size: 16px;
    font-weight: 300;
  }
.views {
  display: flex;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 20px;
  
 
}
.bimage div {
  display: flex;
    align-items: center;
}
.bimage {
  /* position: absolute; */
  /* bottom: 0; */
  border-top: 1px solid gray;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  
}
.Comment {
      font-size: 20px;
      padding-right: 5px;
      color: #3d5a80;

      /* color: red; */
      cursor: pointer;
    }
.sub {
  width: 24%;
  /* min-width: 300px; */
  float: right;
}
.uls {
  width: 74%;
}

@media screen and (max-width: 800px) {
 
   .uls {
    width: 98%;
    padding-bottom: 40px;
    /* border: 3px solid red; */
        margin: 0 auto;

  }
  .uls {
      margin: 0 auto;
    }
    .content img {
      width: 90%;
    }
    .content h4 {
      font-size: 14px;
    }
  .content {
    padding: 0;
    
   
  }
  .sub {
    width: 90%;
    margin: 0 auto;
  }
  #heart {
    font-size: 55px;
  }
  .Comment {
    font-size: 15px;
  }
}

@media screen and (max-width: 450px) {
  .emptydiv {
    display: none;
    /* border: 3px solid black; */
  }
  #heart {
    font-size: 55px;
  }
  .content ul {
      padding: 20px 10px 0 10px;
    }
  .views div {
      padding-right: 10px;
    }
    .views h4 {
      text-align: left;
    }
  .views {
    padding-left: 0;
    
  }
  
}